#calculator{
    background : #B5B5B5;
    margin : 5%auto;
    width : 80%;
    height : 900px;
    border-color: black;
    color : black;
}
.display{
    background-color: rgb(235, 222, 210);
    border-color: black;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 98.8%;
    padding-top: 10%;
    font-size:50px;
    text-align: right;  
}    
.row{
    width: 100%;
}
.btn {
    width: 80%;
    height: 60px;
    background: #dddddf;
    font-size: 22px;
    color: black;
    transition: background 0.3s;	
    margin : 3% 8%;	
    font : bolder;	
}
.btn2{
    background: orange;
}
.btn3{
    background: rgb(172, 170, 170);
}
.btn:hover {
    background: #336699;
    color: #FFFFFF;
}